@using CRUDelicious.Models
@model Dishes

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUDelicious</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div class="wrapper">
        <div>
            <center>
                <h1>Edit a Dish!</h1>
            </center>
            <div>
            <h2><a style="float:left;" href="http://">Edit a Dish</a></h2>
            <br>
            <br>
                <h1>@ViewBag.Dish[0].Name</h1>
            <form action="edit/@ViewBag.Dish[0].id" method="post">
                <div class="form-group">
                    <span asp-validation-for="Name"></span>
                    <label asp-for="Name"></label>
                    <input asp-for="Name" value="@ViewBag.Dish[0].Name">
                    <br>

                    <span asp-validation-for="Chef"></span>
                    <label asp-for="Chef"></label>
                    <input asp-for="Chef" value="@ViewBag.Dish[0].Chef">
                    <br>

                    <span asp-validation-for="Tastiness"></span>
                    <label asp-for="Tastiness"></label>
                    <input asp-for="Tastiness" value="@ViewBag.Dish[0].Tastiness">
                    <br>

                    <span asp-validation-for="Calories"></span>
                    <label asp-for="Calories"></label>
                    <input asp-for="Calories" value="@ViewBag.Dish[0].Calories">
                    <br>

                    <span asp-validation-for="Description"></span>
                    <label asp-for="Description"></label>
                    <input asp-for="Description" value="@ViewBag.Dish[0].Description">

                    <input type="hidden" name="CreatedAt" value="@ViewBag.Now">
                    <input type="hidden" name="UpdatedAt" value="@ViewBag.Now">
                </div>
            <input type="submit" value="Edit!">
            </form>
        </div>
    </div>

</body>
</html>